.ct-chart{
  position: relative;
}

.button.active{
  color: #222;
}

.series-1{
  background-color: #d70206; 
  color: white;
}

.series-2{
  background-color: #f05b4f;
}

.series-3{
  background-color: #f4c63d;
}

.series-4{
  background-color: #d17905;
}

.series-5{
  background-color: #453d3f;
  color: white;
}

.series-6{
  background-color: #59922b;
  color: white;
}

.series-7{
  background-color: #0544d3;
  color: white;
}

.series-8{
  background-color: #6b0392;
  color: white;
}

.series-9{
  background-color: #f05b4f;
}

.series-10{
  background-color: #dda458;
}

.series-11{
  background-color: #eacf7d;
}

.series-12{
  background-color: #86797d; 
  color: white;
} 

.series-13{
  background-color: #b2c326;
}

.series-14{
  background-color: #6188e2;
}

.series-14{
  background-color: #a748ca;
  color: white;
}

/* Spinner */
.lds-ellipsis {
  visibility: hidden;
  position: relative;
  width: 64px;
  height: 64px;
  left: 50%;
}

.lds-ellipsis.inited{
  visibility: visible;
  display: none;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #96ff6d;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.lds-ellipsis.active{
  display: inline-block;
}

.section .title{
  font-size: 1.5em;
}

#diary-title{
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

sub{
  font-size: 0.7em;
}

h3{
  font-size: 1.5em;
  font-weight: 600;
}

#results{
  display: none;
}

#results.active{
  display: inline;
}

.loading h1{
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.loading.done{
  display: none;
}

#form.active{
  display: inline;
}

h4{
  font-size: 1.3em;
  font-weight: 500;
}

#harvest-result h4{
  margin: auto;
}

#harvest-result table{
  margin: auto;
}

#harvest-result .message{
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
}

#harvest-result .message p{
  padding: 0 2em 1em 2em;
}

.table-container{
  overflow-x: scroll;
}
